@import "tailwindcss";

:root {
  --bg: #ffffff;
  --fg: #0b0c10;
  --line: rgba(0, 0, 0, 0.10);
}

html, body {
  height: 100%;
}

body {
  color: var(--fg);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(0,0,0,0.08);
}